<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yijie.com.yijie">
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:name=".base.APPApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity"
            android:theme="@style/Main"
            >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.kendergard.KndergardAcitivity"/>
        <activity android:name=".activity.kendergard.MoreShareActivity"/>
        <activity android:name=".activity.kendergard.PhotoActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            />

        <activity android:name=".activity.school.SchoolActivity"/>
        <activity android:name=".activity.student.StudentActivity"/>
        <activity android:name=".utils.PhotoActivityForHor"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            />
        <activity android:name=".activity.student.studentgrounp.StundentGrounpActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            />
        <activity android:name=".activity.recommend.RecommendActivity"/>
         <activity android:name=".base.PermissionsActivity"
             android:theme="@style/AppTheme.NoActionBar.Permissions"
             />
        <activity android:name=".permission.PermissionActivity"/>
    </application>

</manifest>